body {
    padding-top: 60px;
    padding-bottom: 40px;
        background: url("/img/pesos.jpg") !important;
        

}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

.minHeight200{min-height: 220px}

.paging a
{
    display:inline-block;
    padding:5px 10px;
    border:1px solid #cccccc;
    border-radius: 3px;
    margin-right:5px;
}

.paging a:hover
{
    background-color:#428bca;
    color:#ffffff;
    text-decoration: none;
}

.paging
{
    text-align:center;
}

.margin20{margin:20px}

.dataTables_filter {
    margin-top: 20px;
    margin-right: 20px;
}

.box .list-group .list-group-item
{
 background: none !important;   
 border: 0px !important;
}
.box{
    background: #EFEFEF;
    color: #000;
    font-weight: bold;
    min-height: 500px;
    padding: 20px;
    border-radius: 3px;
    opacity: 0.7;
}

.box button{display: none}
.box:hover button{display:inline-block}

.box2{
    background: #EEE;
    color: #000;
    min-height: 240px;
    padding: 20px;
    margin: 10px;
    border-radius: 3px;
    opacity: 0.7;
}

.box .foto{
    border-radius: 50%;
    background: #FFF;
    color: #666;    
    width: 150px;
    height: 150px;
    margin: auto;    
    margin-bottom: 20px;
}

.box .foto i{
    font-size: 50pt;
    margin-top: 40px;
}

.box2 i.glyphicon{
    margin-top: 40px;
    font-size: 50pt
}

.box2:hover i.glyphicon{
    color: #FF9800;
}

.box2:hover{
    cursor: pointer;
    box-shadow: 0px 5px 30px #000;    
}

.navbar-brand{
    padding: 9px 15px !important;    
}

form{
    background: #FFF;
    opacity: 0.9;
    padding: 20px;
    border-radius: 5px;
}

form fieldset{
    margin-top: 20px;
}

form fieldset legend{
    margin-bottom: 10px;
    color: #cc850c;
    border-bottom: 1px solid #cc850c;
}

form fieldset fieldset fieldset{
    margin-top: 10px;
}

form button[type='submit']{
    margin-top: 30px;
}

.form-inline fieldset fieldset fieldset .form-group{
    margin-top: 5px;
}

.form-horizontal .form-group{
    margin: 0px;
}

.form-inline .form-group{
 margin-top: 10px;   
}
.form-inline select.form-control{
    width: 100%;
}


@media screen and (min-width: 1024px){    
.dropdown-menu{
    width: 250px;
}
.dropdown-menu ul li{
    list-style: none;    
    padding: 5px 0px;
}

.dropdown-menu li ul{
    display:none;
   padding: 0px;
     width: 250px;
}

.dropdown-menu li ul a{ 
    color: #000;
    display:block;
    padding: 0px;
    margin-left: 20px;   
    line-height: 1.428571429;
    
    
}

.dropdown-menu li ul a:hover{ 
 text-decoration: none   
     
}

.dropdown-menu li:hover > ul{
    display: block;
    position: absolute;
    margin-left: 248px;
    background: #FFF;
    box-shadow: 0px 0px 15px #CCC;
    margin-top: -26px;
    border: 1px solid #CCC;
}

.dropdown-menu li ul > li:hover{
background: #EEE;
}

}